.box {
    width: 200px;
    height: 200px;
    background: #ff0000;

    position: relative;
    animation: testAnimation 5s infinite;
}

@keyframes testAnimation {
    /* from{
        left: 0px;
        top: 0px;

    }
    to{
        left: 250px;
        top: 250px;
        border-radius: 50%;
        background: #00ff00;
    } */
    0% {
        left: 0;
        top: 0;
        border-radius: 0%;
    }
    25% {
        left: 250px;
        top: 0;
    }
    50% {
        left: 250px;
        top: 250px;
        border-radius: 50%;
    }
    75% {
        left: 0;
        top: 250px;
    }
    100% {
        left: 0;
        top: 0;
        border-radius: 0%;
    }
}
